@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body{
    background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
}
section{
    padding: 70px;
}

h1 {
    font-family: 'Playfair Display', serif;
}
h5 ,h2{
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}
p{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
}
.btn{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
}
nav {
    color: black;
    background: white;
   
}
.half-half-image-text{
    padding: 70px 0px;
}
    .content{
      height: 100%;
     
      align-items: center;
      padding: 35px 0px;
     } 
    
    .img{
      min-height: 320px;
      height: 100%;
      border-radius: 10px;
      width: 300px;
      
    }

/*     
.jumbo{
    background-color: #E5D1FA;
    margin-top: 0;
} */
.bord{
    
    height: 500px;
    width: 500px;
    background-color: black;
    border: 5px solid  white;
    margin-left: -10px;
    margin-top: 20%;
}
